@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 959px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../bg.jpg);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 30px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5); 
}
.form-box{
    width: 430px;
    height: 100%;
    margin: 0px 10px;
}
.form-box .image-container {
    width:400px;
    height: 100px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../logo.jpg);
    background-position: center;
  }
.form-box header{
    color: #00308F;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.form-box form {
    padding: 20px;
    margin: 5px;
    background-color: #F2F1FA;
    border-radius: 30px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}
.form-box form .input label {
    color: #00308F;
    font-size: 18px;
    font-weight: 600;

}
.form-box form .input input{
    padding-left: 25px;
    padding-right: 15px;
    margin-top: 10px;
    height: 50px;
    width: 328px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #0000004A;
    outline: none;
}
.btn {
    height: 60px;
    background:  #00308F;
    border: 0;
    border-radius: 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover {
    opacity: 0.50;
}
.btn-1{
    height: 30px;
    background: rgba(0,48,143,1.00);
    border: 0;
    border-radius: 20px;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-left: 280px;
    padding: 0px 10px;
}
.btn-1:hover{
    opacity: 0.7;
}
.submit{
    width: 100%;
}
.links {
     margin-bottom: 5px; 
}


/* Home */

.nav {
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo {
    font-size: 20px;
    font-weight: 500;
}
.logo a {
    text-decoration: none;
}

.right-links a {
    font-size: 15px;
    padding: 0 10px;
    align-items: right;
    text-decoration: none;
}
.right-links a:hover{
    opacity: 0.7;
}
.right-links .btn-2{
    height: 30px;
    background: rgba(0,48,143,1.00);
    border: 0;
    border-radius: 50px;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.right-links .btn-2:hover{
    opacity: 0.7;
}

.modes{
    display: grid;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 15px;
}
@media only screen and (max-width: 840px){
    .main-box .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box {
        margin: 10px 10px;
    }
    .bottom {
        margin-top: 0;
    }
}
.message {
    text-align: center;
    background: #FFF;
    padding: 15px 0px;
    border: 1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}